<form id="order-form" class="form-validation" action="">
<div class="row">
<div class="col-md-16 column">
  <table id="edit-order-table" width="100%" class="table table-bordered table-hover table-striped" data-height="500">
    <thead>
      <tr>
        <th width="2%"></th>
        <th width="4%"><span class="small">#No</span></th>
        <th width="6%"><span class="small">Code</span></th>
        <th width="6%"><span class="small">Description</span></th>
        <th width="10%"><span class="small">Specification</span></th>
        <th width="8%"><span class="small" >Picture</span></th>
        <th width="6%" style="border-right-style: none;"><span class="small" >Quantity</span></th>
        <th width="6%" style="border-left-style: none;"><span class="small">/CTN</span></th>
        <th width="6%"><span class="small" >CTNs</span></th>
        <th width="6%"><span class="small">U.G.W</span></th>
        <th width="6%"><span class="small">T.G.W</span></th>
        <th width="6%"><span class="small">U.CBM</span></th>
        <th width="6%"><span class="small">T.CBM</span></th>
        <th width="6%"><span class="small">U.Price</span></th>
        <th width="6%"><span class="small">Amount</span></th>
        <th width="10%">Actions</th>
      </tr>
    </thead>    
    <tbody>
        <% unless @orderitems.nil? %>
      <% @orderitems.each_with_index do |orderitem, index| %>
        <%= render 'order_items/order_item',orderitem: orderitem,index: index %>
      <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
<input type="hidden" name="order_total_weight" id="order_total_weight" value="<%= @order.total_weight %>"/>
<input type="hidden" name="order_total_volume" id="order_total_volume" value="<%= @order.total_volume %>"/>
<input type="hidden" name="order_total_price" id="order_total_price" value="<%= @order.total_price %>"/>
<input type="hidden" name="order_total_ctns" id="order_total_ctns" value="<%= @order.total_ctns %>"/>
</div>
</form>
<input type="hidden" id="order-id" value="<%= @order.id %>">
<div class="bs-example">
    <!-- Modal HTML -->
    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Upload File</h4>
                </div>
                <div class="modal-body">
                  <%= form_for @order, :url => {:id => @order.id, :action => "upload_pic"}, :method => :post, :id => "upload-form", :remote => true do |f| %>
                    <div class="field">
                      <%= f.file_field :picture %>
                      <%= hidden_field_tag 'order_item_id', '',class: "order_item_id"  %>
                    </div>
                    <div class="actions">
                      <%= f.submit "upload" , class: 'btn btn-primary btn-sm'%>
                    </div>
                  <% end %>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom" style="min-height:20px;">
  <div class="container-fluid">
    <div style="white-space: nowrap">
          <%= link_to "Add Row",  order_order_items_path(@order.id), class: "btn-sm btn-default pull-left",method: :post, remote: true %>
          <a id='delete_row' class="pull-left btn-sm btn-default">Delete Row</a>
          <form class="navbar-form navbar-left" style="margin: 0">
            <a class="btn-sm btn-default pull-left moverow">Move Row After</a>
	        <div class="form-group">
    	      <input id='rowno' type='text' placeholder='rowno' style="width: 60px" class='form-control input-md' />
	        </div>	        
	      </form>
        
          <a id='language' class="navbar-right btn-sm btn-success">Show English</a>          
          <a id='save_order' data-rc-url="<%= order_path(@order.id) %>" class="navbar-right btn-sm btn-info">Save</a>          
          <%= link_to 'XLSX', order_xlsx_order_path(@order.id)  , class: "navbar-right btn-sm btn-info", method: :post %>
          <a id='save_order_invisible' data-rc-url="<%= order_path(@order.id) %>" class="pull-right btn btn-info" style="display: none;">#</a>
          <p class="navbar-text navbar-right small" style="margin: 5px">Total CTNs: <span class="badge alert-info order_total_ctns"><%= (@order.total_ctns.nil? || @order.total_ctns == "") ? "&nbsp;&nbsp;".html_safe : @order.total_ctns %></span></p>
          <p class="navbar-text navbar-right small" style="margin: 5px">Total Price: <span class="badge alert-info order_total_price"><%= (@order.total_price.nil? || @order.total_price == "") ? "&nbsp;&nbsp;".html_safe : @order.total_price %></span></p>
          <p class="navbar-text navbar-right small" style="margin: 5px">Total Weight: <span class="badge alert-info order_total_weight"><%= (@order.total_weight.nil? || @order.total_weight == "") ? "&nbsp;&nbsp;".html_safe : @order.total_weight %></span></p>
          <p class="navbar-text navbar-right small" style="margin: 5px">Total Volume: <span class="badge alert-info order_total_volume"><%= (@order.total_volume.nil? || @order.total_volume == "") ? "&nbsp;&nbsp;".html_safe : @order.total_volume %></span></p>
          <form class="navbar-form navbar-right" style="margin: 0">
	        <div class="form-group">
            <label for="deposit">Deposit paid:</label>
            <input id='deposit' type='text' value='<%= (@order.deposit.nil? || @order.deposit == "") ? "" : @order.deposit %>' placeholder='deposit' style="width: 60px" class='form-control input-md' />
	        </div>	        
	      </form>
    </div>
  </div>
</nav>
