<form id="order-form" action="">
<div class="row clearfix">
<div class="col-md-12 column">
  <table id="edit-order-table" class="table table-bordered table-hover table-striped" data-height="500">
    <thead>
      <tr>
        <th></th>
        <th>Item ID</th>
        <th>Product Name</th>
        <th>Picture</th>
        <th>Product Weight</th>
        <th>Color</th>
        <th>Quantity Per Unit</th>
        <th>Item Price</th>
        <th>Unit</th>
        <th>No of Unit</th>
        <th>Volume of Unit</th>
        <th>Item Total Weight</th>
        <th>Weight Per Unit</th>
        <th>Item Total Price</th>
        <th>Item Total Volume</th>
        <th>Remarks</th>
        <th>Actions</th>
      </tr>
    </thead>
    
    <tbody>

        <% unless @orderitems.nil? %>
      <% @orderitems.each_with_index do |orderitem, index| %>
        <tr>
          <td><input class='row-selector' type='checkbox'/></td>
          <td>
            <%= index+1 %><input name='order_items["<%= index %>"].itemUUID' type='hidden' class='uuid' value='<%= orderitem.itemUUID %>' >
            <button type='button' class='btn btn-default btn-xs upload-icon' aria-label='Left Align'><span class='glyphicon glyphicon-folder-open' aria-hidden='true'></span></button>
            <input name='order_items["<%= index %>"].id' type='hidden' class='id' value='<%= orderitem.id %>' >
          </td>
          <td><input name='order_items["<%= index %>"].product_name' type='text' placeholder='Name' class='form-control input-md' value='<%= orderitem.product_name%>'/></td>
          <td class='img-td'></td>
          <td><input  name='order_items["<%= index %>"].packing' type='text' placeholder='packing'  class='form-control input-md' value='<%= orderitem.packing %>'></td>
          <td><%= link_to 'Delete', [@order, orderitem],  class: "btn btn-danger", method: :delete %></td>
        </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
 <%= link_to "Add Row",  order_order_items_path(@order.id), class: "btn btn-default pull-left",method: :post, remote: true %>
<a id='delete_row' class="pull-left btn btn-default">Delete Row</a>
<a id='save_order' data-rc-url="<%= order_path(@order.id) %>" class="pull-right btn btn-info">Save</a>
</div>
</form>
<input type="hidden" id="order-id" value="<%= @order.id %>">
<div class="bs-example">
    <!-- Modal HTML -->
    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Upload File</h4>
                </div>
                <div class="modal-body">
                  <%= form_for @order, :url => {:id => @order.id, :action => "upload_pic"}, :method => :post, :id => "upload-form", :remote => true do |f| %>
                    <div class="field">
                      <%= f.file_field :picture %>
                      <%= hidden_field_tag 'order_item_id', '',class: "order_item_id"  %>
                    </div>
                    <div class="actions">
                      <%= f.submit "upload" , class: 'btn btn-primary btn-sm'%>
                    </div>
                  <% end %>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
