<tr>
  <td><input class='row-selector' type='checkbox'/><input type="hidden" class="supplier_id" value="<%= supplier["id"] %>"/></td>
  <td><%= supplier["supplier_name"] %></td>
  <td><%= supplier["supplier_detail_name"] %></td>
  <td><%= supplier["supplier_address"] %></td>
  <td><%= supplier["supplier_contact_person"] %></td>
  <td><%= supplier["supplier_contact_no"] %></td>
  <td><%= supplier["supplier_email"] %></td>
</tr>
